
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/test.js') }}"></script>
    <title> MyTodo</title>
</head>
<body>
    <div class="container my-3">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" id="title" aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="desc">
            </div>
            
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    </div>
    <div class="container my-3">
        
                {% if message %}
                   
                <div class="alert alert-dark" role="alert">
                    {{message}}
                  </div>
                  {% endif %}
               
           
    </div>
</body>
</html>
    